.quotes .box.box1:hover,
.quotes .box.box1:hover~.bg {
    opacity: 1;
    background: #e2a9e5;
    background: -moz-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
    background: -webkit-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
    background: linear-gradient(135deg, #e2a9e5 15%, #2b94e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2a9e5', endColorstr='#2b94e5', GradientType=1);
}

.quotes .box.box2:hover,
.quotes .box.box2:hover~.bg {
    opacity: 1;
    background: #632c65;
    background: -moz-linear-gradient(-45deg, #632c65 15%, #56a5e2 100%);
    background: -webkit-linear-gradient(-45deg, #632c65 15%, #56a5e2 100%);
    background: linear-gradient(135deg, #632c65 15%, #56a5e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#632c65', endColorstr='#56a5e2', GradientType=1);
}

.quotes .box.box3:hover,
.quotes .box.box3:hover~.bg {
    opacity: 1;
    background: #4b384c;
    background: -moz-linear-gradient(-45deg, #4b384c 15%, #da5de2 100%);
    background: -webkit-linear-gradient(-45deg, #4b384c 15%, #da5de2 100%);
    background: linear-gradient(135deg, #4b384c 15%, #da5de2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b384c', endColorstr='#da5de2', GradientType=1);
}